.header{
    background-color: #8257e6;

    height: 100px;
    width: 100%;

    display: inline-block;
    justify-content: center;
    text-align: center;

    h1{
        vertical-align: middle;
        line-height: 80px;
        color: #fff;
        font-size: 32px;
    }
    
}

