section{
    padding: 30px;

}

section.repository-list {
    margin: 40px;
    padding: 30px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    li {
        background-color: rgba(51, 51, 51, 0.40);
        box-shadow: 3px 2px 5px rgba(17, 17 ,17, 0.55);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        width: 800px;
        padding: 30px;
        margin: 10px;

        border-radius: 8px
    }

    li:hover{
        background-color: rgba(51, 51, 51, 0.55);
    }

    p {
        font-size: 14px;
        color: #d0d0d0;
        margin-top: 8px;
    }

    a {
        display: inline-block;
        margin-top: 24px;
        text-decoration: none;
        color: #8257e6
    }
}